
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Fish Chilly</strong></h2>
        <br><img src="./assets/1_3.jpg" alt="" style="float: right;  padding-top: 1rem;padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 15</span><span style="margin-left: 4rem;">Cook Time : 30</span> <span style="margin-left: 4rem;">Total Time : 45</span>
            </p>

            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 4)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                    <li>Fish pieces 4 cups</li>

                <li>2 nos</li>

                <li>Green Capsicum sliced 2 nos</li>

                <li>Green chillies finely chopped 2 nos</li>

                <li>Ginger finely chopped 1 nos</li>

                <li>Soya sauce 1 tbsp</li>

                <li>Salt as required 1 tsp</li>

                <li>Vegetable oil 4 tbsp</li>

                <li>Corn flour 1/2 cups</li>

                <li>Plain flour 1/2 cups</li>

                <li>Red chilli powder 2 tsp</li>

                <li>Black pepper powder 2 tsp</li>
                <li>Spring onion leaves chopped 1 tbsp</li>
                <!-- <li>3-4 tbsp white vinegar</li>
                <li>1 tbsp salt or as per taste</li> -->
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    
                    <li>Marinate the fish pieces with red chilli powder, black pepper powder and salt for 15 mins.</li>
                    
                    <li>Soak dry red chillies in warm water for 5 mins and grind it into fine paste and keep aside.</li>
                    
                    <li>Make batter by mixing together corn flour,refined flour,red chilli powder,black pepper powder,salt and sufficient water to make thick batter.</li>
                    
                    <li>Heat oil for deep frying.</li>
                    
                    <li>Dip the fish pieces in batter and drop into oil one by one,similarly fry all the pieces to golden brown and drain and keep aside.</li>
                    
                    <li>Heat 2 tbsp oil in a wok,add gineger,garlic and green chillies. Toss for few seconds.</li>
                    
                    <li>Add onions and salt and saute on high flame till onions turn translucent and crisp.</li>
                    
                    <li>Add capsicum and saute till it becomes soft.</li>
                    <li>Add 1/2 tsp black pepper powder and mix.</li>
                    <li>Now add 1 tbsp Soya sauce and ground red chilli pastr and mix well</li>
                    <li>Add cornflour mixed water at this stage to adjust the consistency.</li>
                    <li>Add the fried fish pieces and mix well.</li>
                    <li>Finally sprinkle spring onion leaves and serve.</li>
            </ol>
    </div>
</div>
