
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Vegeterian Kids Lunch Box</strong></h2>
        <br><img src="./assets/2_1.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 5</span><span style="margin-left: 4rem;">Cook Time : 10</span> <span style="margin-left: 4rem;">Total Time : 15</span>
            </p>
            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 2)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                    <li>For Masala Veg Idly : Idly batter 1 cup</li>

<li>1/3 cup finely chopped carrot, peas and corn</li>

<li>1/4 teaspoon turmeric powder</li>

<li>1/4 teaspoon chilli powder</li>

<li>1 teaspoon Ghee</li>

<li>2 Pinches of Himalaya salt for Idly batter</li>

<li>For Babycorn Capsicum Stir Fry : 3/4 cup chopped Baby corns</li>

<li>1/3 cup sliced Red and Yellow capsicum</li>

<li>1 Finely chopped onion</li>

<li>1/2 teaspoon turmeric powder</li>

<li>1/2 teaspoon Chilli powder</li>

<li>1/4 teaspoon Himalaya salt</li>

<li>For Curd Rice : 1 Cup cooked rice</li>

<li>2/3 cup thick yogurt</li>

<li>1/4 teaspoon plus 2 pinches of Himalaya salt</li>

<li>1 teaspoon Soyabean flour</li>

<li>1" peeled Ginger</li>

<li>1/2 Green chilli</li>

<li>3 curry leaves</li>

<li>1 teaspoon chopped green coriander leaves</li>

<li>1 teaspoon Oil</li>

<li>1/4 teaspoon mustard seeds</li>

<li>1/4 teaspoon Urad dhal</li>

<li>1/4 teaspoon Asafoetida</li>

<li>For Dates Cashewnut Kozhukattai : 1/2 Cup rice flour</li>

<li>1 cup water</li>

<li>2 pinches of Himalaya salt</li>

<li>6 Pitted Dates</li>

<li>3/4 teaspoon Ghee</li>

<li>6 Cashew nuts</li>

<li>1 Apple</li>
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    
                    <li>In a bowl add idly batter, soyabean flour, turmeric powder, chilli powder, vegetables, ghee and salt and mix together. Keep aside</li>
                    
                    <li>For outer layer of Kozhukattai, boil 1 cup water, add 1/2 teaspoon ghee and salt. Mix rice flour slowly. Switch off the flame and close the lid for 3 minutes.</li>
                    
                    <li>Grind green chilli, ginger, coriander leaves and curry leaves listed in Curd rice. Keep aside</li>
                    
                    <li>Stuff dates with cashew nuts.</li>
                    
                    <li>Babycorn capsicum stir fry : In a pan, heat oil and add onions, saute till it turns translucent.</li>
                    
                    <li>Then add baby corns, turmeric powder, chilli powder and salt. Mix and cook for 2 minutes without adding water on medium flame.</li>
                    
                    <li>Then add capsicum and cook for another 2 minutes. Remove from heat</li>
                    
                    <li>By now the rice flour should be warm. Grease the kozhukattai/modhak mould with the remaining ghee listed in kozhukattai ingredients.</li>
                    
                    <li>Fill the mould with rice flour and place the stuffed dates inside and close the bottom.</li>
                    
                    <li>In the bottom idly plates grease and pour the vegetable idly batter.</li>
                    
                    <li>On the top plate place the kozhukattai and steam for 7 minutes.</li>
                    
                    <li>In a tempering pan heat oil, add mustard seeds, after it splutters add urad dhal and asafoetida.</li>
                    
                    <li>Now add the ground ingredients ( green chilli, ginger, coriander leaves and curry leaves) and saute for 1.5 minutes.</li>
                    
                    <li>In a bowl add rice and tempered ingredients.</li>
                    
                    <li>Next add yogurt, salt and mix.</li>
                    
                    <li>Wash the apple and drop in a hot water to get rid of covering wax. Cut into pieces and drop in water and wipe with a cloth.</li>
                    
                    <li>Now pack the cooked dishes into a stainless lunch box.</li>
            </ol>
    </div>
</div>
