
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Everest Chole Masala</strong></h2>
        <br><img src="./assets/2_2.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 10</span><span style="margin-left: 4rem;">Cook Time : 10</span> <span style="margin-left: 4rem;">Total Time : 20</span>
            </p>
            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 2)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                  
                        <li>Boiled chana 2 cups</li>
                        
                        <li>Chop onion 2 nos</li>
                        
                        <li>Garlic paste 1 tsp</li>
                        
                        <li>Chop ginger 1 tsp</li>
                        
                        <li>Tomato puree 1/2 cups</li>
                        
                        <li>Salt..As taste 1 tsp</li>
                        
                        <li>Everest chana masala 1 tsp</li>
                        
                        <li>Red chilli 1/2 tsp</li>
                        
                        <li>Haldi 1/2 tsp</li>
                        
                        <li>Oil 3 tsp</li>
                        
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    
         
                    <li>Take a wok add oil, add garlic saute then add ginger and onion saute till brown</li>
                    <li>Add all masala and tomato puree saute add chana saute two minutes add water boil them.</li>
                    <li>Serve with boiled rice.</li>
                    </ol>
    </div>
</div>
