
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Smokey RICE Maheri</strong></h2>
        <br><img src="./assets/2_4.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 5</span><span style="margin-left: 4rem;">Cook Time : 15</span> <span style="margin-left: 4rem;">Total Time : 20</span>
            </p>
            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 4)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">

                        <li>Basmati Rice 2 cups</li>
                        <li>curd 1 cups</li>
                        <li>hing / asafoetida 1 pinch</li>
                        <li>curry leaves 5-6 nos</li>
                        <li>1 tsp</li>
                        <li>urad dal 1 tsp</li>
                        <li>salt to taste 1 tsp</li>
                        <li>ghee 2 tsp</li>
                        <li>green chillies chopped 2 nos</li>
                        <li>5-6 nos</li>
                        <li>water 3 1/2 cups</li>
                        <li>mustard seeds 1 tsp</li>
                        <li>cumin seeds 1 tsp</li>     
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    <li>Wash rice properly and soak it in water for a minute. meanwhile take 1 tsp ghee in a pressure cooker , when it heats up add garlic and let it burn till it turn crispy.</li>
                    <li>Add hing, curry leaves and turmeric powder.</li>
                    <li>Next add the rice , salt and mix it well. Add 3 cup of water and bring it to boil.</li>
                    <li>Churn the curd until smooth and add some water into it. Add it into the rice and mix it well. Close the lid of the pressure cooker and let the rice cook on low flame for 5 minutes and later on high flame for 3 whistles. when don't want the rice consistency to be so thick.</li>
                    <li>For tempering : Take 1 tsp ghee in a small tadka pan , add garlic and wait till it turn crisp, next add curry leaves, green chilly, cumin seeds , pinch of hing.</li>
                    <li>Meanwhile take a bowl and place a heated charcoal in it and keep this bowl on the rice and add some ghee on the charcoal and immediately cover the rice bowl so the smokey flavour absorbed.</li>
                    <li>Transfer the RICE in a serving bowl and add the tempering on top of it. Serve hot with masala papad and pickle.</li>
                    </ol>
    </div>
</div>
