
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Paneer Popcorn</strong></h2>
        <br><img src="./assets/paneerpopcorn.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 10</span><span style="margin-left: 4rem;">Cook Time : 10</span> <span style="margin-left: 4rem;">Total Time : 20</span>
            </p>
            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 4)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                    <li>Paneer 200grms</li>

                <li>Turmeric 1tsp</li>

                <li>Red chilly powder 1tsp</li>

                <li>Coriander powder 1/2tsp</li>

                <li>Cumin powder 1/2tsp</li>

                <li>Chaat masala 2tsp</li>

                <li>Ginger garlic paste 1tsp</li>

                <li>Lemon 1/2</li>

                <li>Bread crumbs 1cup</li>

                <li>Corn flour 4tbsp</li>

                <li>Gram flour 2tbsp

                </li>

                <li>Salt 2tsp</li>
                <li>Oil 1 cup</li>
                <!-- <li>3-4 tbsp white vinegar</li>
                <li>1 tbsp salt or as per taste</li> -->
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    
                    <li>Cut the paneers into cubes.</li>
                    
                    <li>Add all the dry masalas and nicely mix it.</li>
                    
                    <li>Now add ginger garlic paste, lemon juice and salt .</li>
                    
                    <li>Now add 1tbsp of gram flour and mix so that the masalas coats the paneers well.</li>
                    
                    <li>Now make a batter mixing gram flour, corn flour and water.</li>
                    
                    <li>Dip paneer into the batter one by one and roll them into bread crumbs.</li>
                    
                    <li>Now fry the paneers till golden brown.</li>
                    
                    <li>Tip(keep the bread crumbs in the fridge for 1 hour to get nice crunchy texture).</li>
                    <!-- <li>Let it cool down completely and then store in airtight glass jars and refrigerate for longer shelf life.</li> -->
            </ol>
    </div>
</div>
