
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Mathi Mulakitathu(Sardines in Spicy Curry)</strong></h2>
        <br><img src="./assets/1_1.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 30</span><span style="margin-left: 4rem;">Cook Time : 10</span> <span style="margin-left: 4rem;">Total Time : 40</span>
            </p>

            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 4)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                    <li>Mathi (Sardines,Cleaned and Washed) 1/2 kgs</li>

                <li>Fenu Greek 1/2 tsp</li>

                <li>Pearl Onions 15 nos</li>

                <li>Garlic Cloves 6 nos</li>

                <li>Curry leaves 1 sprig</li>

                <li>Tomato(sliced) 1 nos</li>

                <li>Salt some to taste 1 tsp</li>

                <li>Tamarind(Lemon Sized diluted in water) 1 nos</li>

                <li>Water 1 cups</li>

                <li>Kashmiri Chilly Powder 1 tbsp</li>

                <li>2-3 nos</li>

                <li>Coconut Oil 3 tbsp</li>
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    
                    <li>First of all,mix tamarind,kashmiri chilly powder and turmeric powder in a cup of water and keep it aside.</li>
                    
                    <li>In a pan,heat oil and add fenugreek to it, and saute the mix by adding the pearl onions , garlic cloves,ginger.</li>
                    
                    <li>To this mix add the tomato and also the cleaned sardines(mathi) along with required salt .</li>
                    
                    <li>Add the spicy mix which prepared in the first step and boil it.</li>
                    
                    <li>When the gravy gets thickened,add the curry leaves and take out of flame.</li>
                    
                    <li>In a small vessel,crush green chillies,pearl onions in coconut oil.</li>
                    
                    <li>Mix this with curry well. And its ready to serve.</li>
                    
                    <li>Serves delicious with Rice</li>
            </ol>
    </div>
</div>
