
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem; "><strong>Fish Pickle</strong></h2>
        <br><img src="./assets/1_2.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 10</span><span style="margin-left: 4rem;">Cook Time : 25</span> <span style="margin-left: 4rem;">Total Time : 35</span>
            </p>

            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 6)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                    <li>500 gms sardine fish cubed</li>

                <li>1 tsp turmeric powder</li>

                <li>3 tbsp Kashmiri chilli powder</li>

                <li>1 tsp salt (adjust to taste)</li>

                <li>1/2 cup oil</li>

                <li>1 tsp Cumin seeds</li>

                <li>1 fennel seeds</li>

                <li>1 tsp black mustard seeds</li>

                <li>1/2 tsp fenugreek seeds</li>

                <li>1 tbsp freshly ground ginger garlic paste</li>

                <li>10-12 garlic cloves whole</li>

                <li>2 sprig curry leaves</li>
                <li>1 tbsp crushed peppercorns</li>
                <li>3-4 tbsp white vinegar</li>
                <li>1 tbsp salt or as per taste</li>
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    
                    <li>Wash the fish pieces and pat dry with kitchen towel.</li>
                    
                    <li>Add the fish pieces in a bowl. Add salt, turmeric powder, some chilli powder, mix well and set aside for few mins.</li>
                    
                    <li>Now heat the oil in a frying pan. Drop the fiah and fry the fish until it is crispy on the outside. Drain and set aside</li>
                    
                    <li>In the same oil add the curry leaves, mustard seeds, cumin seeds, fennel seeds, fenugreek seeds and let it crackle.</li>
                    
                    <li>Add the ginger garlic paste and saute for a min.</li>
                    
                    <li>Add in the whole garlic, Kashmiri chilli powder and saute for a min.</li>
                    
                    <li>Add the fried fish, crushed peppercorns, season with salt and mix well</li>
                    
                    <li>Add the vinegar, gently stir and xook for 3-5 mins and remove from heat and set aside.</li>
                    <li>Let it cool down completely and then store in airtight glass jars and refrigerate for longer shelf life.</li>
            </ol>
    </div>
</div>
