
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Rajastani Shahi Gatta Pulao</strong></h2>
        <br><img src="./assets/2_3.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 15</span><span style="margin-left: 4rem;">Cook Time : 20</span> <span style="margin-left: 4rem;">Total Time : 35</span>
            </p>
            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 4)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                  
                    <li>basmati rice 1 cups</li>
                    <li>Whole garammasala:Cardamom 2 nos</li>
                    <li>cloves 3-4 nos</li>
                    <li>shahi jeera 1 tsp</li>
                    <li>cinnamon 1 tsp</li>
                    <li>bay leaf 1 nos</li>
                    <li>black pepper 4-5 nos</li>
                    <li>onion thinly sliced 2 nos</li>
                    <li>ginger garlic paste 1 tbsp</li>
                    <li>tomatoes puree 2 nos</li>
                    <li>red chilli PD 1 tsp</li>
                    <li>coriander PD 1 tsp</li>
                    <li>garam masala PD 1/4 tsp</li>
                    <li>turmeric PD 1/4 tsp</li>
                    <li>cashew nuts 7-8 nos</li>
                    <li>raisins 7-8 nos</li>
                    <li>Salt to taste 1 tsp</li>
                    <li>Coriander leaves 1/4 sprig</li>
                    <li>oil 2 tbsp</li>
                    <li>ghee 1 tbsp</li>
                    <li>lemon juice 1/2 nos</li>
                    <li>For making gatta:Besan 1 cups</li>
                    <li>chilli PD 1 tsp</li>
                    <li>turmeric pd 1/4 tsp</li>
                    <li>Salt to taste 1 tsp</li>
                    <li>carom seeds 1/4 tsp</li>
                    <li>Oil for frying 2 cups</li>
                        
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    
         
                <li>Make a dough with besan adding,turmeric salt chilli PD, little oil and carom seeds.</li>
                <li>Give 10-15 min rest.</li>
                <li>Keep water for boiling.</li>
                <li>Take dough and make small balls then make a rolls.</li>
                <li>Now drop rolls into water let it boil for 10 mins.</li>
                <li>Remove from water and let it cool.</li>
                <li>Heat oil INA kadai cut the gattas not toothinnor thick and fry into oil till golden brown.</li>
                <li>Now take another kadai add oil ,ghee then whole garam masala,cashew,raisins and onion. Cook till onion turns light golden colour.</li>
                <li>Now add ginger garlic paste stir then add tomato puree.</li>
                <li>Add all the dry masalas and salt.</li>
                <li>Add water and lemon juice.</li>
                <li>Once the water start boiling add soaked rice n cook on high flame till water gets dry.</li>
                <li>Now add coriander leaves n slow the gas n cook on low flame for 5 mins.</li>
                <li>Shahi gatta pulao is ready to serve with raita.</li>
                    </ol>
    </div>
</div>
