
     <div class="row">
       <div class="container">
        <img src="./assets/main.jpg" alt="" style="height: 52vh; width: 65vw;  margin-top: 13rem; border-radius: 30px;" class="center">
        <hr>
       </div>
     </div>
    <div class="row">
        <div class="container">
            <h1><strong>Top Recipes</strong></h1>
           <p style="font-size: 20px;">Check out our featured recipe for today! This recipe is the most popular and trendy recipe that you’d definitely want to give a try!</p>
            <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
                
                    <div class="card" >
                      <a routerLink = "/recipes/mathi-mulakitathu" ><img src="./assets/1_1.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Mathi Mulakitathu</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                         <!-- Add icon library -->
                         <div class="star-rating">
                            <div class="star-rating__wrap">
                              <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                              <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                              <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                              <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                              <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </div>
                          </div>
                    </div>
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
        
            <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
                
                    <div class="card" >
                      <a routerLink = "/recipes/fish-pickle" > <img src="./assets/1_2.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Fish Pickle</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                    </div>
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
    
            <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
                
                    <div class="card" >
                        
                      <a routerLink = "/recipes/fish-chilly" ><img src="./assets/1_3.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Fish Chilly</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                    </div>
                
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
    
            <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
                
                    <div class="card" >
                      <a routerLink = "easy-fish-fry" ><img src="./assets/1_4.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Easy Fish Fry</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                    </div>
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
            <div class="col-md-2 col-sm-6" >
                
                    <div class="card" >
                      <a routerLink = "paneer-popcorn" ><img src="./assets/paneerpopcorn.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Paneer Popcorn</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                    </div>
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 4rem;">
        <div class="container">
            <h1><strong>Indian Lunch</strong></h1>
           <p style="font-size: 20px;">Simple and healthy lunchtime recipes, when you on the go and no time to take long breaks. Then try out these so easy lunch recipes!</p>
            <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
                
                    <div class="card" >
                      <a routerLink = "vegeterian-kids-lunchbox" > <img src="./assets/2_1.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Vegeterian Kids Lunch Box</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                         <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

                    </div>
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
        
            <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
                
                    <div class="card" >
                      <a routerLink = "everest-chole-masala" ><img src="./assets/2_2.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Everest Chole Masala</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                    </div>
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
    
            <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
                
                    <div class="card" >
                        
                      <a routerLink = "rajastani-shahi-gatta-pulao" > <img src="./assets/2_3.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Rajastani Shahi Gatta Pulao</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                    </div>
                
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
    
            <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
                
                    <div class="card" >
                      <a routerLink = "smokey-rice-maheri" ><img src="./assets/2_4.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Smokey RICE Maheri</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                    </div>
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
            <div class="col-md-2 col-sm-6" >
               
                    <div class="card" >
                      <a routerLink = "grilled-chicken-withrice" > <img src="./assets/2_5.jpg" alt="Avatar" style="width:100%"></a>
                    <div class="contain">
                      <h4 style="cursor: pointer;"><b>Grilled Chicken with Rice</b></h4>
                      <!-- <p>Architect & Engineer</p> -->
                      <div class="star-rating">
                        <div class="star-rating__wrap">
                          <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                          <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                          <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                      </div>
                    </div>
                    <br>  <br> <br> <br> <br>
                  </div>
            </div>
        </div>
    </div>

    
    <div class="row" style="margin-top: 4rem;">
      <div class="container">
          <h1><strong>Desserts</strong></h1>
         <p style="font-size: 20px;">Quick and easy dessert recipes. It is everybody's favorite and we all love. But making an amazing one is an art. Check it out!</p>
          <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
              
                  <div class="card" >
                    <a routerLink = "vegeterian-kids-lunchbox" > <img src="./assets/3_1.jpg" alt="Avatar" style="width:100%"></a>
                  <div class="contain">
                    <h4 style="cursor: pointer;"><b>Chocolate Dessert with Nuts</b></h4>
                    <!-- <p>Architect & Engineer</p> -->
                    <div class="star-rating">
                      <div class="star-rating__wrap">
                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                      </div>
                    </div>
                       <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

                  </div>
                  <br>  <br> <br> <br> <br>
                </div>
          </div>
      
          <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
              
                  <div class="card" >
                    <a routerLink = "everest-chole-masala" ><img src="./assets/3_2.jpg" alt="Avatar" style="width:100%"></a>
                  <div class="contain">
                    <h4 style="cursor: pointer;"><b>Valentine's Dessert Bowl</b></h4>
                    <!-- <p>Architect & Engineer</p> -->
                    <div class="star-rating">
                      <div class="star-rating__wrap">
                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                      </div>
                    </div>
                  </div>
                  <br>  <br> <br> <br> <br>
                </div>
          </div>
  
          <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
              
                  <div class="card" >
                      
                    <a routerLink = "rajastani-shahi-gatta-pulao" > <img src="./assets/3_3.jpg" alt="Avatar" style="width:100%"></a>
                  <div class="contain">
                    <h4 style="cursor: pointer;"><b>Blueberry Dessert Plater</b></h4>
                    <!-- <p>Architect & Engineer</p> -->
                    <div class="star-rating">
                      <div class="star-rating__wrap">
                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                      </div>
                    </div>
                  </div>
              
                  <br>  <br> <br> <br> <br>
                </div>
          </div>
  
          <div class="col-md-2 col-sm-6" style="margin-right: 4rem;">
              
                  <div class="card" >
                    <a routerLink = "smokey-rice-maheri" ><img src="./assets/3_4.jpg" alt="Avatar" style="width:100%"></a>
                  <div class="contain">
                    <h4 style="cursor: pointer;"><b>Fruit Custard With Jelly Dessert</b></h4>
                    <!-- <p>Architect & Engineer</p> -->
                    <div class="star-rating">
                      <div class="star-rating__wrap">
                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                      </div>
                    </div>
                  </div>
                  <br>  <br> <br> <br> <br>
                </div>
          </div>
          <div class="col-md-2 col-sm-6" >
             
                  <div class="card" >
                    <a routerLink = "grilled-chicken-withrice" > <img src="./assets/3_5.jpg" alt="Avatar" style="width:100%"></a>
                  <div class="contain">
                    <h4 style="cursor: pointer;"><b>Umm Ali (Egyptian Dessert)</b></h4>
                    <!-- <p>Architect & Engineer</p> -->
                    <div class="star-rating">
                      <div class="star-rating__wrap">
                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                      </div>
                    </div>
                  </div>
                  <br>  <br> <br> <br> <br>
                </div>
          </div>
      </div>
  </div>
  

          

