
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Grilled Chicken with Rice and Assorted Veggies</strong></h2>
        <br><img src="./assets/2_5.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 120</span><span style="margin-left: 4rem;">Cook Time : 40</span> <span style="margin-left: 4rem;">Total Time : 160</span>
            </p>
            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 2)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                        <li>Chicken Leg Pieces 4 nos</li>
                        <li>Basmati Rice 1 1/2 cups</li>
                        <li>Green Capsicum ,cut into blocks 1/2 cups</li>
                        <li>Yellow Bell Pepper - cut into blocks 1/2 cups</li>
                        <li>Red Bell Pepper - cut into blocks 1/2 cups</li>
                        <li>Broccoli florets 8-10 nos</li>
                        <li>Carrot ,cut into 2 inch long strips 1 nos</li>
                        <li>Butter 1 tbsp</li>
                        <li>5-6 nos</li>
                        <li>White Vinegar 3 tbsp</li>
                        <li>Salt 1 tsp</li>
                        <li>Lemon Juice 2 tbsp</li>
                        <li>Oregano 1 tsp</li>
                        <li>Black Pepper Powder 2 tsp</li>
                        <li>Olive Oil 3 tbsp</li>  
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    <li>Clean the chicken pieces and drain the water properly.</li>
                    <li>Marinate them with lemon juice, vinegar, salt, pepper powder, grated garlic, oregano and 1 tablespoon of oil.</li>
                    <li>Allow to keep the marination for minimum 2 hours. You can marinate and keep them in refrigerator for overnight.</li>
                    <li>In a bowl take one tablespoon vinegar, lemon juice, salt and black pepper powder and mix well.</li>
                    <li>Marinate the veggies with this mixture for 10 minutes.</li>
                    <li>Wash and soak the basmati rice for 20 minutes.</li>
                    <li>Later drain the water and cook the rice.</li>
                    <li>Once the rice is 80% done, drain the water and spread the rice in plates and sprinkle little salt over it.</li>
                    <li>Take a grilled non-stick pan and add 2 tablespoon of oil.</li>
                    <li>Add the chicken pieces and cook them over slow flame. Cover the pan with the lid.</li>
                    <li>After some time (7 mins) turn the pieces and brush little more oil and cook again. Cook the chicken pieces properly until they are done and get the grilling effects from all the sides.</li>
                    <li>Along with the chicken pieces you can also add the veggies in the same grilling pan. Keep an eye on the vegetables to avoid burning.</li>
                    <li>Turn the vegetables whenever required. Take them out in a plate.</li>
                    <li>Once the chicken and vegetables are grilled, add butter in the pan a and toss the cooked basmati rice.</li>
                    <li>Take a plate and serve the grilled chicken with rice and assorted veggies.</li>
                    </ol>
    </div>
</div>
