
<div class="row" style="font-family: 'Montserrat', sans-serif">
    <div class="container" style="background-color:		#F0F0F0;">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 33px; padding-top: 12rem;"><strong>Easy Fish Fry</strong></h2>
        <br><img src="./assets/1_4.jpg" alt="" style="float: right;  padding-top: 1rem; padding-right: 3rem;">
        <h4 style="font-size: 20px;"><strong>Cooking Time:</strong></h4>
        <p style="font-size: 18px;">
            <span>Preparation Time : 10</span><span style="margin-left: 4rem;">Cook Time : 15</span> <span style="margin-left: 4rem;">Total Time : 25</span>
            </p>

            
            <br> <span style="font-size: 20px;"><strong>Ingredients:</strong></span><span style="margin-left: 1rem; font-size: 20px;"><strong>(Serves 3)</strong></span>
        
                <ul style="font-size: 18px; line-height: 30px;">
                    <li>Fish 6 nos</li>

                <li>Ginger Garlic paste 1 tbsp</li>

                <li>Chilly powder 1 1/2 tbsp</li>

                <li>Pepper powder 1 tsp</li>

                <li>Curd 1 tbsp</li>

                <li>Coriander powder 1 tsp</li>

                <li>Garam masala powder 1 tsp</li>

                <li>Salt 1 tbsp</li>

                <li>Oil 1 cups</li>

                <!-- <li>1 tbsp freshly ground ginger garlic paste</li>

                <li>10-12 garlic cloves whole</li>

                <li>2 sprig curry leaves</li>
                <li>1 tbsp crushed peppercorns</li>
                <li>3-4 tbsp white vinegar</li>
                <li>1 tbsp salt or as per taste</li> -->
                </ul>
          

            <br><h4 style="font-size: 20px;"><strong>Directions:</strong></h4>

            <ol style="font-size: 18px; line-height: 30px; padding-bottom: 5rem;">
                    
                    <li>Wash the fish and pat dry with kitchen towel. Make slashes in the fish.</li>
                    
                    <li>In a small bowl take all the ingredients except oil and make a smooth paste.</li>
                    
                    <li>Rub the paste all over the fish inside the slashes too and keep aside for sometime.</li>
                    
                    <li>Heat oil in a pan. When the oil is hot, reduce the heat and drop the fishes.</li>
                    
                    <li>Fry in medium heat for till golden and crisp from outside.</li>
                    
                    <li>Drain in an absorbent paper and serve with onion rings, green chillies and lemon slice. </li>
                    
                    <!-- <li>Add the fried fish, crushed peppercorns, season with salt and mix well</li>
                    
                    <li>Add the vinegar, gently stir and xook for 3-5 mins and remove from heat and set aside.</li>
                    <li>Let it cool down completely and then store in airtight glass jars and refrigerate for longer shelf life.</li> -->
            </ol>
    </div>
</div>
